/* General styling */
html {
  font-family: "Inter", sans-serif;
  font-size: 16px;
}

/* Navbar styles */
.navbar {
  transition: box-shadow 0.8s ease;
  transition: background-color 0.5s;
}

.navbar .nav-link {
  font-size: 20px;
  color: white;
}

.navbar-sticky {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: rgba(0, 0, 0, 0.8);
  transition: background-color 1s ease, box-shadow 0.3s ease;
}

.navbar-brand {
  box-sizing: content-box;
  height: 60px;
  padding: 12px 0;
}

#navbar-logo {
  height: 100%;
}

/* Navigation link hover effect */
.nav-link:hover,
.hover-effect {
  color: rgb(234, 24, 17) !important;
  border-color: rgb(234, 24, 17) !important;
}

/* Primary button styles */
.btn-primary {
  background-color: rgb(234, 24, 17);
  border-color: rgb(234, 24, 17);
}

.btn-primary:hover {
  background-color: rgb(220, 24, 17);
  border-color: rgb(220, 24, 17);
}

.btn-primary:active,
.btn-primary:focus {
  background-color: rgb(200, 24, 17) !important;
  border-color: rgb(200, 24, 17) !important;
}

.section {
  scroll-margin-top: 100px;
}

#home {
  height: 100vh;
  background-image: url("/assets/misc/AL-AS.png");
  background-size: cover;
  background-position: center;
}

.box {
  height: 1000px;
}

.facebook-icon {
  text-decoration: none; /* Remove underline */
  color: inherit; /* Inherit color from parent (matches other text color) */
}

footer {
  font-size: 14px;
}

.footer-icon {
  height: 14px;
}

.footer-logo {
  height: 30px;
}

.contact-block {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  height: 100%;
  border-top: 3px solid rgb(234, 24, 17);
  border-bottom: 3px solid rgb(234, 24, 17);
}

#scrollToTop {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: rgb(234, 24, 17);
  border: none;
  color: white;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
  transition: opacity 0.5s, visibility 0.5s;
  opacity: 0;
  visibility: hidden;
}

#scrollToTop.show {
  opacity: 1;
  visibility: visible;
}

.contact-info h3 {
  font-size: 18px;
  font-weight: 500;
  margin: 0;
}

.contact-info p {
  font-size: 14px;
  margin: 0;
}

.contact-info .form-header {
  font-size: 20px;
  font-weight: 500;
  margin: 0;
}

.contact-info i {
  font-size: 30px;
}

#home .hero {
  font-family: "Bebas Neue", sans-serif;
  color: white;
  font-size: 150px;
  max-width: 20ch;
  max-height: 80vh;
}

#home h1 {
  padding-top: 100px;
  font-size: inherit;
}

#home b {
  font-family: "Inter", sans-serif;
  font-weight: 800;
  color: rgb(234, 24, 17);
}

.hero-button button {
  font-family: "Inter", sans-serif;
  font-size: 1.5rem;
}

.btn {
  border-radius: 0%;
}

.about-image {
  border-radius: 8%;
  width: 100%;
}

.card {
  height: 300px;
  width: 300px;
}

#products .carousel-item img {
  max-height: 70vh;
  max-width: 100vw;
}

#products .carousel-item {
  text-align: center;
}
