/* General styling */
html {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

/* Navbar styles */
.navbar {
  transition: box-shadow 0.8s ease;
  font-size: 1.05rem;
  font-weight: 500;
}

.navbar-sticky {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
  box-sizing: content-box;
  height: 60px;
  padding: 12px 0;
}

#navbar-logo {
  height: 100%;
}

/* Navigation link hover effect */
.nav-link:hover,
.hover-effect {
  color: rgb(234, 24, 17);
}

/* Primary button styles */
.btn-primary {
  background-color: rgb(234, 24, 17);
  border-color: rgb(234, 24, 17);
}

.btn-primary:hover {
  background-color: rgb(220, 24, 17);
  border-color: rgb(220, 24, 17);
}

.btn-primary:active,
.btn-primary:focus {
  background-color: rgb(200, 24, 17) !important;
  border-color: rgb(200, 24, 17) !important;
}

/* Section styles */
.section {
  height: 1000px;
  scroll-margin-top: 100px;
}

#home {
  padding-top: 100px;
}

#scrollToTop {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: rgb(234, 24, 17);
  border: none;
  color: white;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
  transition: opacity 0.8s, visibility 0.8s;
  opacity: 0;
  visibility: hidden;
}

#scrollToTop.show {
  opacity: 1;
  visibility: visible;
}

footer {
  font-size: 14px;
}

.footer-logo {
  height: 30px;
}

.footer-icon {
  height: 20px;
}
